<div class="button-div">
  <button (click)="GetMoviesFromService()">
    <span class="text">Search movies</span>
  </button>
  <mat-progress-spinner class="spinner" [mode]="'indeterminate'" *ngIf="spinnerLoading | async"></mat-progress-spinner>
</div>
<div>
  <!-- <table>
    <tr>
      <th>ID</th>
      <th>Poster</th>
      <th>Name</th>
      <th>Description</th>
      <th>Genres</th>
      <th>Release date</th>
      <th>Runtime</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.id}}</td>
      <td>{{movie.poster}}</td>
      <td>{{movie.name}}</td>
      <td>{{movie.description}}</td>
      <td>{{movie.genres}}</td>
      <td>{{movie.releaseDate}}</td>
      <td>{{movie.runtime}}</td>
    </tr>
  </table> -->
  <br>

<div *ngFor="let movie of movies">
<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title>{{movie.title}}</mat-card-title>
    <mat-card-subtitle><!-- TODO: Movie rating? --></mat-card-subtitle>
    <img mat-card-xl-image src={{movie.poster}}>
  </mat-card-title-group>
  <mat-card-content>
    {{movie.description}}
  </mat-card-content>
  <mat-card-content>
    <div *ngFor="let genre of movie.genres">
      <p>{{genre.GenreName}}</p>
    </div>
    <b>Genres: </b>
  </mat-card-content>
  <mat-card-content>
    <b>Runtime: </b>{{movie.runtime}} minutes
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
<br>
</div>
</div>
